<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Movies </ion-title>
    <ion-button slot="end" shape="round" (click)="create()">Create</ion-button>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-range
    max="10"
    aria-label="Range with ionChange"
    (ionChange)="onIonChange($event)"
  ></ion-range>
</ion-item>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movies</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-list
    [list]="movieList"
    (onSelect)="onSelect($event)"
    (idToEdit)="edit($event)"
    (idToDelete)="delete($event)"
  ></app-list>
</ion-content>


<ion-footer *ngIf="selectedMovie">
  <ion-toolbar>
    <ion-title  class="footerTitle"><a [routerLink]="['./details', selectedMovie.id]">Details</a></ion-title>
    <p [appColoreTitoli]="selectedMovie.rating"
    [range]="selectedRating">
       Name : {{selectedMovie.name}} <br>
       Cast : {{selectedMovie.casts}} <br>
       Rating : {{selectedMovie.rating}}
    </p>
    <app-rating
      *ngIf="selectedItemRating"
      [Rating]="selectedItemRating"
    ></app-rating>
  </ion-toolbar>
</ion-footer>
