.img{
    border-radius: 50%;
    width:35%;
    margin-top: 15px;
    margin-left: 15px;
}

/* .card{
    border-radius: 5%;
    background-color: grayscale($color: #626262);
    text-decoration: white;
} */