 <ion-card class="card">
    <img class="img" alt="Profile Picture" src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg" />
    <ion-card-header>
      <ion-card-title>Profile</ion-card-title>
      <ion-card-subtitle>Nunzia Riglietti</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
        <strong>Email</strong>
        <p> rigliettinunzia@example.com</p>
        <hr>
        <strong>Content Creator</strong>
        <p> Nunzia Riglietti</p>
        <hr>
        <strong>Design</strong>
        <p> Nunzia Riglietti</p>
        <hr>
        <strong>Company name</strong>
        <p> Sidea.Academy</p>
    </ion-card-content>
  </ion-card> 