<app-header [title]="title"></app-header>
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Edit details</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card>
        <form *ngIf="formCreate" [formGroup]="formCreate" (ngSubmit)="submitForm()">
            <ion-item>
                <ion-input label="Id" labelPlacement="stacked" [clearInput]="true" formControlName="id" 
                    placeholder="Enter id">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-input label="Name" labelPlacement="stacked" [clearInput]="true" formControlName="name" 
                    placeholder="Enter  name">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-input label="Birth Year" labelPlacement="stacked" [clearOnEdit]="true" formControlName="birthYear"
                    placeholder="Enter birth year">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-input label="Death Year" labelPlacement="stacked" [clearOnEdit]="true" formControlName="deathYear"
                    placeholder="Enter death year">
                </ion-input>
            </ion-item>

            <ion-row>
                <ion-col>
                    <ion-button type="submit"> Save </ion-button>
                </ion-col>
            </ion-row>
        </form>

    </ion-card>

</ion-content>